- pageTitle = "Team Registration"
include ../mixins/header
+header(pageTitle)
body
  section.intro
    .container
      .row.text-center
        .col-md-12.col-sm-12.col-xs-12
          .heading-count
            img#prof_img(src="/assets/img/transparent_prof.png").img-fluid
            if success
              h3=success
              h3 Now you can #[a(href="/team/sign_in") Sign In]
            else
              h2 Hackenger
              h3= error ? "Registration Error: " + error : "Team Registration"
          a.target-scroll.page-scroll(href="#register", target="_blank")
            i.fas.fa-chevron-down.fa-2x

  section.register.section-padding-top.section-padding-bottom
    .container
      form#register(action="/team/register" method="post", enctype="multipart/form-data")
        .row
          .col-sm-12.col-md-6.form-group
            label(for="team_name") Team Name
            input.form-control#team_name(type="text", name="team_name", placeholder="Super Cool Team Awesome Sauce", required)
          .col-sm-12.col-md-6.form-group
            label(for="member1") Team Member 1
            input.form-control#member1(type="text", name="member1", placeholder="Member 1's Name", required)
          .col-sm-12.col-md-6.form-group
            label(for="member2") Team Member 2
            input.form-control#member2(type="text", name="member2", placeholder="(Optional) Member 2's Name")
          .col-sm-12.col-md-6.form-group
            label(for="member3") Team Member 3
            input.form-control#member3(type="text", name="member3", placeholder="(Optional) Member 3's Name")
          .col-sm-12.col-md-6.form-group
            label(for="member4") Team Member 4
            input.form-control#member4(type="text", name="member4", placeholder="(Optional) Member 4's Name")
        .row
          .col-sm-12.text-center
            input#register-btn.btn(type="submit" value="Submit")
        if success
          .row
            .col-sm-12.text-center
include ../mixins/footer
script(src="/assets/js/countries.js")
script(src="/assets/js/register_specify_dropdown.js")
