- pageTitle = "Team Sign In"
include ../mixins/header
+header(pageTitle)
body
  section.intro
    .container
      .row.text-center
        .col-md-12.col-sm-12.col-xs-12
          .heading-count
            img#prof_img(src="/assets/img/transparent_prof.png").img-fluid
            h2= error ? "Sign In Error: " + error : "Team Sign In"
          a.target-scroll.page-scroll(href="#emergency", target="_blank")
            i.fas.fa-chevron-down.fa-2x
  section.register.section-padding-top.section-padding-bottom
    .container
      form#register(action="/team/sign_in" method="post", enctype="multipart/form-data")
        .row
          .col-sm-12.form-group
            label(for="team_names") Select Your Team Name
            select.form-control#team_name(type="text", name="team_name", required)
              if(teamNames)
                for teamName in teamNames
                  option=teamName
        .row
          .col-sm-12.text-center
            input#register-btn.btn(type="submit" value="Submit")

include ../mixins/footer
script(src="/assets/js/countries.js")
script(src="/assets/js/register_specify_dropdown.js")

