mixin footer()
  // Map Section End
  // Footer Section Start
  footer.footer-area.section-padding-top.section-padding-bottom
    .container
      .row
        .col-md-12
          .footer-text.text-center
            ul.social-icon
              li
                a.facebook(href="https://www.facebook.com/RowanProfHacks", target="_blank")
                  i.fab.fa-facebook-f
              li
                a.twitter(href="https://twitter.com/RowanProfHacks", target="_blank")
                  i.fab.fa-twitter
              li
                a.instagram(href="https://www.instagram.com/RowanProfHacks", target="blank")
                  i.fab.fa-instagram
              li
                a.slack(href="http://profhacks2019.slack.com", target="blank")
                  i.fab.fa-slack
            p Copyright ProfHacks © 2019
  // Footer Section End
  // Go to Top Link
  a.back-to-top(href="#")
    i.fas.fa-chevron-circle-up
  // Preloader
  #preloader
    .loader#loader-1
  // End Preloader
  // jQuery first, then Popper.js, then Bootstrap JS
  script(src="assets/js/menu.js")
