include ../mixins/challenge
+challenge(4,
`
A 9 Volt battery is attached to a cube of 12 resistors (as shown below). What is the output voltage (V_out) in Volts?
Answers will be correct if they are within 0.01 V of the real value.
`, true)
